<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="create" class="nav-link" routerLinkActive="active">CreateAssestsLiability</a>
    </li>
    <li class="nav-item">
      <a routerLink="/viewReferenceNumber" class="nav-link" routerLinkActive="active">AllReferenceNumberDetails</a>
    </li>
  </ul>
</nav>





  <router-outlet></router-outlet>




