<nav class="navbar navbar-expand-sm  navbar-dark"  style="background-color: #644987 ">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="create" class="nav-link" routerLinkActive="active">CreateAssetLiability</a>
    </li>
    <li class="nav-item">
    <a routerLink="/viewReferenceNumber" class="nav-link" routerLinkActive="active">ReferenceNumberDetails</a>
  </li>
    <li class="nav-item">
          <a class="nav-link "  routerLink=" "(click)="logOutFromWeb()" routerLinkActive="active" style="margin-left:777px">Logout</a>

    </li>
  </ul>
</nav>
<!--style="box-shadow: 5px 0px 15px 10px #171414 !important;"-->




  <router-outlet></router-outlet>




